.bg-cream{
    background-color: #f2b688;
}
.bg-soft-pink{
    background-color: #f598d9;
}
.bg-mocca{
    background-color: moccasin;
}

.tinggi{
    height: 600px;
}

.kotak{
    height: 300px;
}

.bingkaitext{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
}

body:before {
    content: "";
    position: fixed;
    z-index: -1;
    background-size:cover;
    background-position:center top;
    display: block;
    background-image: url("../../img/bg.png");
    width: 100%;
    height: 100%;
    filter: blur(1px) ;
    -webkit-filter: blur(1px) ;
  }
